<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.StatisticsMapper">

    <select id="getStatisticsInfo" resultType="java.lang.Integer">

    </select>
    <select id="getAllVisitor" resultType="java.lang.Integer">
        SELECT count(*) FROM visitor
    </select>
    <select id="getYesterdayVisitor" resultType="java.lang.Integer">
        SELECT count(*) FROM visitor
    </select>
    <select id="getArticleNum" resultType="java.lang.Integer">
        SELECT count(*) FROM article
    </select>
    <select id="getArticleThumbsUpNum" resultType="java.lang.Integer">
        SELECT count(*) FROM article_likes_record
    </select>
    <select id="getAllUser" resultType="java.lang.Integer">
        SELECT count(*) FROM user
    </select>
</mapper>